# ESP32-S3 specific configurations
CONFIG_IDF_TARGET="esp32s3"

# PSRAM
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_QUAD=y
CONFIG_SPIRAM_SPEED_80M=y

# Power Management
CONFIG_PM_ENABLE=y
CONFIG_PM_DFS_INIT_SETTINGS_PRO_CPU_FREQ_MHZ_240=y

# Optimization
CONFIG_COMPILER_OPTIMIZATION_PERF=y
CONFIG_COMPILER_CXX_EXCEPTIONS=y

# Stack Size
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
